body {
    padding: 50px 100px;
}

h1 {
   text-align: center;
   background-color: rgb(104, 104, 233);
   color: beige;
   margin: 0px;
   padding: 10px;
}

textarea {
    
    width: 99.28%;
    border-width: 2px;
    font-size: 20px;
}

p {
    font-size: 23px;
    text-align: center;
    background-color: rgb(104, 104, 233);
    color: azure;
    padding: 5px;
    margin: 0;
}




